.button {
  padding: 1px;
}

body {
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

table{
  margin-left: auto; 
  margin-right: auto;
}

th, td, tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

tr:hover {
  background-color: rgba(226, 244, 250, 0.952);
  overflow: visible;
}

.extra { 
  display: none;
}

td:hover .extra {
  display: inline-block;
}

.navbar {
  position: fixed;
  top: 1px;
  left: 1px;
}
