button {
    padding: 1px;
    /*added color to button */
    background-color:rgba(77, 182, 172, 0.68);
  }
  /*added header style*/
  h1 {
    padding: 10px;
    font-family: 'Roboto Mono';
    text-align: center;
    text-overflow: ellipsis;
    font-weight:bold;
    font-size: 40px;
  }
  body {
    padding: 40px;
    /*changed font to Roboto Mono */
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
    font-family: 'Roboto Mono';
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
  table{
    border-spacing: 40px;
    margin-left: auto; 
    margin-right: auto;
  }
  
  th, td, tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    overflow: hidden;
  }
  
  .preview { 
    max-height:200px;
    overflow: auto;
    padding: 10px;
  }
  
  .extra { 
    display: none;
  }
  
  td:hover .extra {
    display: inline-block;
  }
  /* changed navbar positioning */

  .navbar {
    position: fixed;
    top: 20px;
    left: 50px;
  }
  
  /*changed padding to 10*/
  .centre {
    padding: 10px;
    border: 1px solid grey;
    margin-left: auto; 
    margin-right: auto;
    line-height: 1.6;
    width: 500px;
  }
  
  .left {
    width: 65%;
    padding: 35px;
    float: left;
    border: 1px solid grey;
  }
  
  .right {
    max-width: 25%;
    padding: 15px;
    border: 1px solid grey;
  }
  
  .rightDiv {
    max-height: 180px;
  }
  
  .rightDiv:hover, .rightDiv:active {
    max-height: none;
  }
  
  .rightDivOpen {
    max-height: none;
    background-color: rgb(250, 250, 249);
  }
  
  a:hover {
    cursor: pointer;
  }